@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using Movies.Models
@using System.IO
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject HttpClient httpClient
@inject IJSRuntime JSRuntime

<PageTitle>Details</PageTitle>

<h1>"@movie?.Title"</h1>

<div>
    <h2>Movie details</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="info">
            <div>
                <dl class="row">
                    <dt class="name col-sm-2">Title</dt>            <dd class="value col-sm-10">@movie.Title</dd>
                    <dt class="name col-sm-2">ReleaseDate</dt>      <dd class="value col-sm-10">@movie.ReleaseDate</dd> 
                    <dt class="name col-sm-2">Genre</dt>            <dd class="value col-sm-10">@movie.Genre</dd>
                    <dt class="name col-sm-2">URL</dt>              <dd class="value col-sm-10"><a href="@movie.URL">@movie.URL</a></dd>
                </dl>
            </div>
            @if(!string.IsNullOrEmpty(movie.ImageUrl))
            {
                <dt class="col-sm-2">Poster</dt>
                <dd class="col-sm-10"> 
                    <img src="" alt="Movie Poster" style="max-width:300px; max-height:300px"/>
                </dd>
            }
        </div>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadMovie();
    }

    private async Task LoadMovie()
    {
        try
        {
            //Supposed endpoint for movie details by id
            var response = await httpClient.GetAsync($"http://localhost:5000/api/Movies/{Id}");

            if(response.IsSuccessStatusCode)
            {
                movie = await response.Content.ReadFromJsonAsync<Movie>();
            }
            else if(response.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                //Movie not found
                movie = null;//or you can use an error message
                Console.WriteLine($"Movie with ID {Id} not found");
            }
            else
            {
                //Other errors
                var errorContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"API Error loading movie {Id}:{response.StatusCode} - {errorContent}");

                movie = null;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine($"An error occured during loading movie: {ex.Message}");
        }
    }

    private async Task DeleteMovie()
    {
        var confirmResult = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {movie?.Title ?? "this movie"}`?");

        if (confirmResult)
        {
            try
            {
                //supposed endpoint for delete a movie by id
                var response = await httpClient.DeleteAsync($"http://localhost:5000/api/Movies/{Id}");

                if(response.IsSuccessStatusCode)
                {
                    Console.WriteLine("Movie deleted successfully!");
                    NavigationManager.NavigateTo("/movies");//pass to movies list
                }
                else
                {
                    var errorContent = await response.Content.ReadAsStringAsync();
                    Console.WriteLine($"API Error deleting movie {Id}: {response.StatusCode} - {errorContent}");
                    //Show the message to the user
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"An error occured during deleting movie: {ex.Message}");
                //Show the message to the user
            }
        }

    }
}