@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Academy2.Components.Models
@using Academy2.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Academy2.Data.Academy2Context> DbFactory
@rendermode InteractiveServer
using System.Linq.Expressions.Expression

<PageTitle>Студенты</PageTitle>

<h1>Количество студентов: @context.Students.Count()</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<div class="controls">
    <form action="/students" data-enhance>
        <input type="search" @bind="nameFilter" @bind:event="oninput" placeholder="Поиск по фамилии..." />
    </form>
    <div style="margin-top: 10px;">
        <label for="items-per-page">Items per page: </label>
        <select id="items-per-page" @bind="pagination.ItemsPerPage">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </div>
</div>

<div class="grid" style="margin-top: 20px;">
    <QuickGrid Class="table" Items="FilteredStudents" Pagination="pagination" >
        <PropertyColumn Sortable="true" Property="s => s.last_name" Title="Фамилия" />
        <PropertyColumn Sortable="true" Property="s => s.first_name" Title="Имя" />
        <PropertyColumn Sortable="true" Property="s => s.middle_name" Title="Отчество" />
        <PropertyColumn Sortable="true" Property="s => s.birth_date" Title="Дата рождения" />        
        <PropertyColumn Sortable="true" Property="s => s.Group.group_name" Title="Группа" />
        <TemplateColumn Title="Группа"
						Sortable="true"
                        InitialSortDirection="SortDirection.Ascending"
                        SortBy="GroupNameForSorting"
                        Context="student"
						TGridItem="Student">
                @(student.Group?.group_name ?? "N/A")
         
        </TemplateColumn>
		<TemplateColumn Title="Возраст" 
                        Sortable="true"
						InitialSortDirection="SortDirection.Ascending"
                        IsDefaultSortColumn="true"
                        SortBy="AgeForSorting"
                        Context="student"
                        TGridItem="Student">
            @{
                DateOnly birthDateOnly = student.birth_date;

                DateTime birthDate = new DateTime(birthDateOnly.Year, birthDateOnly.Month, birthDateOnly.Day);

                var today = DateTime.Today;
                var age = today.Year - birthDate.Year;

                if(birthDate.DayOfYear > today.DayOfYear)
                {
                    age--;
                }
                @age;
            }
        </TemplateColumn>

        <TemplateColumn Context="student" TGridItem="Student">
            @*   <a href="@($"students/edit?stud_id={student.stud_id}")">Edit</a> | *@
            <a href="@($"students/details?stud_id={student.stud_id}")">Details</a>
            @*      <a href="@($"students/delete?stud_id={student.stud_id}")">Delete</a> *@
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination"/>
</div>

@code {
    private Academy2Context context = default!;
    private IQueryable<Student> Students = Enumerable.Empty<Student>().AsQueryable();

    [SupplyParameterFromQuery]
    private string? nameFilter { get; set; }

    PaginationState pagination = new PaginationState { ItemsPerPage = 15 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        Students = context.Students.Include(s => s.Group).AsNoTracking();
    }

        private IComparable GroupNameForSorting(Student s)
        {           
            return s?.Group?.group_name??"N/A";
        }

        private IComparable AgeForSorting(Student s)
        {
            if (s == null)
            return 0;

            DateOnly birthDateOnly = s.birth_date;
            DateTime birthDate = new DateTime(birthDateOnly.Year, birthDateOnly.Month, birthDateOnly.Day);
            var today = DateTime.Today;
            var age = today.Year - birthDate.Year;

            if (birthDate.DayOfYear > today.DayOfYear)
            age--;
            return age;
        }

    private IQueryable<Student> FilteredStudents
    {
        get
        {
            var result = Students;
            if (!string.IsNullOrWhiteSpace(nameFilter))
            {
                result = result.Where(s => s.last_name.Contains(nameFilter));
            }
            return result;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (context is not null) await context.DisposeAsync();
    }
}
